body{
  font-family: 'Raleway';
}

#title{
  background-color: #393E46;
  color: white;
}

h1{
  font-family: 'Montserrat',sans-serif;
}

a{
  font-family: 'Raleway',sans-serif;
}

p{
  font-family: 'Space Mono',sans-serif;
}
.navbar{
  padding: 0 0 10rem;
}

.container-fluid{
  padding: 3% 15% 15%;
}

.title-img{
  width: 50rem;
}

.triple-feature-img{
  display: block;
  margin: 5rem auto 5rem;
  animation: fadeIn 5s;
}

#slideshow{
  background-color: #393E46;
  color:white;
}

.slideshow-img {

}

.carousel-item {
  padding: 7% 15%;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
